<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    
    
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    
    <link href="css/ionic.app.css" rel="stylesheet">
    

    <style type="text/css">
      .platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px; 
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
    </style>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    
     
    <script src="js/directives.js"></script>
     
    <script src="js/services.js"></script>
    
    <!-- Only required for Tab projects w/ pages in multiple tabs 
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
    -->

  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
    <div>

      <ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21" ng-controller="menuCtrl">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-royal">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                  <button ng-if="statusListBrief" class="button button-icon button-clear ion-pie-graph" menu-toggle="left" ng-click="goListBrief()"></button>
                  <button ng-if="statusAddBrief" ng-click="goAddBrief()" class="button button-icon  ion-plus-circled" style="margin-right:20px"></button>
                </ion-nav-buttons>
                <ion-nav-buttons side="right">
                  <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="right" id="side-menu21" style="background-color:#FFFFFF;">
            <ion-header-bar class="bar-royal">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-right has-header">
                <ion-list id="menu-list11" class=" " data-componentid="list11">
                    <ion-item class="icon ion-android-checkmark-circle" id="menu-list-item23" ng-click="go('tabsController.activos')" menu-close=""  data-componentid="list-item23"> Activos</ion-item>
                    <ion-item class="icon ion-ios-time-outline" id="menu-list-item24" ng-click="go('tabsController.pendientes')" menu-close=""  data-componentid="list-item24"> Pendientes</ion-item>
                    <ion-item class="icon ion-social-buffer-outline" id="menu-list-item25" ng-click="go('tabsController.cerrados')" menu-close=""  data-componentid="list-item25"> Cerrados</ion-item>
                    <ion-item ng-if="statusAddBrief" class="icon ion-plus-circled" id="menu-list-item28" ng-click="go('crearBriefP1')" menu-close=""  data-componentid="list-item28"> Crear Brief</ion-item>
                    <ion-item class="icon ion-log-out" id="menu-list-item30" ng-click="logout()" menu-close=""  data-componentid="list-item30"> Cerrar sesión</ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
    </div>
  </body>
</html>
