<ion-view title="Crear Brief P3" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="crearBriefP3-list12" class=" ">
            <ion-item class="item-icon-left royal  item-borderless" id="crearBriefP3-list-item27">
                <i class="icon ion-ios-list"></i>CREA TU BRIEF</ion-item>
        </ion-list>
        <div class="item item-body item-borderless" id="crearBriefP3-list-item-container12">
            <p id="crearBriefP3-markdown19" style="margin-top:0px;color:#5B9AA9;" class=" ">
                <strong>Resultados esperados</strong>
            </p>
            <p id="crearBriefP3-markdown20" style="color:#000000;" class=" ">Con BriefBrief tienes la posibilidad de proponer una idea para tu marca potenciando.</p>
        </div>
        <form id="crearBriefP3-form6" class="list ">
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <label class="item item-input btn-brief" id="crearBriefP3-textarea2">
                <textarea placeholder="Escribe tu brief" ng-model="brief.resultado"></textarea>
            </label>
        </form>
        <a ng-click="next(brief.resultado)" id="crearBriefP3-button11" class=" button button-royal  button-block ">Continuar</a>
    </ion-content>
</ion-view>