<ion-view title="Crear Brief P1" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="crearBriefP1-list8" class=" ">
            <ion-item class="item-icon-left royal  item-borderless" id="crearBriefP1-list-item21">
                <i class="icon ion-ios-list"></i>CREA TU BRIEF</ion-item>
        </ion-list>
        <div class="">
            <a class="item-marca" ng-repeat="marca in marcas" ng-click="next(marca.id)">
                {{marca.nombre}}
            </a>
        </div>
    </ion-content>
</ion-view>