<ion-view hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="">
            <img src="img/logo_app.svg" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body item-borderless text-tipo-usuario" id="tipoUsuario-list-item-container2">
            <p id="tipoUsuario-markdown2" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Con BriefBrief tienes la posibilidad de proponer una idea para tu marca potenciando el proceso creativo, involucrando a todo tu equipo</p>
        </div>
        <a ng-click="onSelectTipoUsuario(3)" id="tipoUsuario-button4" class=" button button-royal  button-block ">¿Eres cliente?</a>
        <a ui-sref="invitado" id="tipoUsuario-button5" class=" button button-royal  button-block ">¿Eres invitado?</a>
        <a ng-click="onSelectTipoUsuario(2)" id="tipoUsuario-button6" class=" button button-royal  button-block ">¿Eres BRM?</a>
    </ion-content>
</ion-view>